* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

body {
  height: 3000px;
  width: 1200px;

  display: flex;
  flex-direction: column;
}

/* Header */

header {
  height: 128px;
  width: 1200px;
  font-family: "Nunito", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: aqua;
}

nav {
  height: 64px;
  width: 1064px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
}

.pops-logo {
  height: 64px;
  width: 64px;
}

.nav-left > span {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 25%;
  text-transform: uppercase;
  color: #3e3f43;
}

.nav-left > span:hover {
  cursor: pointer;
}

.nav-right {
  display: flex;
  gap: 50px;
}

#home {
  font-weight: 700;
}

.navbar-item {
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #612999;
}

nav {
  font-family: "Nunito", sans-serif;
}

/* Wrapper */

#wrapper {
}

/* Main */

main {
}

.main-top {
  height: 797px;
  width: 1200px;

  font-family: "Nunito", sans-serif;
  background-image: url(../images/enjoy-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-top > div {
  height: 230px;
  width: 448px;

  position: relative;
  top: 70px;
  left: 32px;
}

.main-top > div > h1 {
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #612999;
}

.main-top > div > p {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.main-middle {
  height: 382px;
  width: 1136px;
  padding: 0px 32px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: chocolate;
}

.main-middle > h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #612999;
}

.main-middle > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 141%;
  letter-spacing: 0%;
  color: #000000;
}

.main-bottom {
  height: 1096px;
  width: 784px;
  padding: 32px;

  background-color: beige;
}

.main-bottom > div {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.main-bottom > h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #612999;
}

.card {
  height: 496px;
  width: 376px;
  border-radius: 38px;

  display: flex inline-block;

  background-color: blueviolet;
}

.card-top {
  height: 248px;
  width: 376px;
  border-radius: 38px;
}

#dor-funko {
  background: url(../images/Dor_Funko.png) no-repeat center;
  background-size: cover;
  background-position-y: -125px;
}

#alex-funko {
  background: url(../images/Alex_funko.png) no-repeat center;
  background-size: cover;
  background-position-y: -90px;
}

#noam-funko {
  background: url(../images/noam_funko.png) no-repeat center;
  background-size: cover;
  background-position-y: -90px;
}

#amit-and-shelly-funko {
  background: url(../images/amit_and_shelly_funko.png) no-repeat center;
  background-size: cover;
}

footer {
  height: 287px;
  width: 1200px;

  background-color: chartreuse;
}
